.separador {
    border-top: 1px solid #ccc;
    margin: 20px 0;
  }
  
  .producto-section {
    margin: 20px 0;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .producto-section h4 {
    margin-top: 0;
  }
  