/* src/App.css */

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.home-container {
  display: flex;
  height: 100vh;
}

.side-menu {
  width: 200px;
  background-color: #3B82F6; /* Fondo azul */
  padding: 20px 10px;
  height: 100vh;
  position: fixed; /* Mantener el menú estático */
  top: 0;
  left: 0;
  overflow-y: auto;
}

.side-menu ul {
  list-style-type: none;
  padding: 0;
}

.side-menu li {
  margin: 20px 0;
}

.side-menu a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.side-menu a:hover {
  text-decoration: underline;
}

.main-content {
  margin-left: 220px; /* Espacio para el menú lateral */
  padding: 20px;
  flex-grow: 1;
  overflow-y: auto; /* Asegurarse de que el contenido principal sea desplazable */
}
